* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12pt;

}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: rgb(240 244 247);

}

h1 {
    color: #0F172A;
    font-size: 2.75rem;
    line-height: 1.5;
    font-weight: 700;
    padding-bottom: 1.125rem;
}

/* h2 | h3 */

big {
    color: #334155;
    font-size: 1.125em;
    line-height: 1.625;
    font-weight: 400;
}

small {
    color: #334155;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.smaller {
    text-align: center;
    color: rgba(51, 65, 85, 0.70);
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 400;
    padding: 1.125rem 0 1.125rem 0;
}

.simbolo {
    color: #0F172A;
    font-size: 1.125rem;
    font-weight: 600;
}

.contenedor {
    max-width: 48rem;
}

.contenedor0 {
    padding: 0 2.5rem 0 2.5rem;

}

svg {
    margin: 1.125rem 0 0.875rem 0;

}

.contenedor1 {
    border-bottom: 1px solid rgba(215, 215, 219, 0.50);
    z-index: 1000;
    min-height: 3rem;
}

.contenedor2 {
    display: grid;
    align-content: center;
    margin-top: -3.375rem;
    min-height: 100svh;
    padding: 6.375rem 0 7.5rem 0;
}

.contenedor3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
}

input {
    text-align: right;
    border: none;
    color: #0F172A;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: transparent;
}

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.input-off {
    border-bottom: 1px solid #D7D7DB;
    margin-top: 0.75rem;
    background: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 11px;
}


.input-on {
    border-bottom: 1px solid #D7D7DB;
    margin-top: 0.75rem;
    background: rgba(255, 255, 255, 0.70);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 11px;

}

.divisor {
    margin: 3rem 0 3rem 0;
    border-bottom: 1px solid rgba(215, 215, 219, 0.50);

}

.contenedor4 {
    z-index: 1000;
    margin-top: -4.5rem;
    min-height: 4.5rem;
}

a {
    text-decoration: none;
    color: rgba(51, 65, 85, 0.70);
}

/* RESPONSIVE */

@media (max-width: 1133px) {
    html {
        font-size: 12pt;
    }

    .contenedor2 {
        margin-top: 0;
    }

    .contenedor4 {
        margin: 0px;
    }

}

@media (max-width: 980px) {
    html {
        font-size: 10pt;
    }

    .contenedor2 {
        margin-top: -3.375rem;
    }

    .contenedor4 {
        margin-top: -4.5rem;
    }

}

@media (max-width:560px) {
    html {
        font-size: 12pt;
    }

    .contenedor0 {
        margin: 0 20px 0 20px;
        padding: 0px;
    }

    .contenedor2 {
        padding: 2.25rem 0 12rem 0;
        margin: 0;
    }

    h1 {
        line-height: 1.25;
        font-size: 2.375rem;
        padding-bottom: 0.75rem;
    }

    big {
        line-height: 1.5;
    }

    .contenedor3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2.5rem;
    }

    .contenedor4 {
        margin: 0;
    }

    .divisor {
        padding: 0 1.75rem 0 1.75rem;
    }

}

@media (max-width:320px) {
    html{
        font-size: 10pt;
    }
}
